{
  "clientId": "YOUR_CLIENT_ID",
  "clientSecret": "YOUR_CLIENT_SECRET",
  "telegram_token": "YOUR_TELEGRAM_BOT_TOKEN",
  "accounts": {
    "account1": {
      "accessToken": "YOUR_ACCESS_TOKEN_1",
      "refreshToken": "YOUR_REFRESH_TOKEN_1"
    },
    "account2": {
      "accessToken": "YOUR_ACCESS_TOKEN_2",
      "refreshToken": "YOUR_REFRESH_TOKEN_2"
    }
  }
}
